// font
ks-rem-base = 15px // Base font size
base-font-family = "Open Sans" // base font family

// grid 
container = 1200px // Site width
gutter = 15px // Container padding 
rupture.mobile-cutoff = mobile-cutoff = 460px
rupture.tablet-cutoff = tablet-cutoff = 768px
rupture.desktop-cutoff = desktop-cutoff = 1000px
laptop-cutoff = 1170px

//colors  
grey = #f5f5f5 
black = #000 
white = #FFF
red = #ef1c23
green = #77c243